body {
  font-family: ubuntu; }

::selection {
  text-shadow: none;
  background: #d84848;
  color: white; }

.word-card {
  width: 205px;
  height: 270px;
  position: relative;
  float: left;
  margin: 10px 25px 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1500; }
  .word-card.hide {
    display: none; }
  .word-card .front-face, .word-card .back-face {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 600ms ease-in-out; }
  .word-card .front-face {
    background: #84d379;
    box-shadow: #a4d15f 1px 1px 6px, #a4d15f -1px -1px 6px;
    -webkit-transform: rotateY(0deg); }
  .word-card .back-face {
    background-color: #92a1d1;
    -webkit-transform: rotateY(180deg);
    box-shadow: #89aee2 1px 1px 6px, #89aee2 -1px -1px 6px; }
  .word-card .word {
    margin-top: 115px;
    color: #e93c4a;
    font-size: 26px;
    text-shadow: 1px 1px 0px #857576; }
  .word-card .title {
    font-size: 26px;
    margin-bottom: 10px;
    color: rgba(54, 58, 71, 0.5);
    font-weight: bold; }
  .word-card .meaning {
    color: #244b3a; }
  .word-card .remove, .word-card .done-mark {
    position: absolute;
    top: 8px;
    padding: 0px 6px 0px 5px;
    border-radius: 15px;
    -webkit-user-select: none;
    font-size: 23px;
    background: #88d87c;
    color: #81ca76;
    opacity: 0; }
  .word-card .remove {
    right: 8px; }
  .word-card .done-mark {
    right: 45px; }

.add-word .back-face {
  cursor: auto; }
.add-word .back {
  position: absolute;
  top: 8px;
  padding: 8px 12px;
  background: #c76148;
  border-radius: 18px;
  right: 8px;
  -webkit-user-select: none; }

#new-word-btn {
  padding: 8px 22px;
  font-size: 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px #646464;
  position: absolute;
  bottom: 25px;
  left: 74px; }

#name {
  border: none;
  height: 26px;
  padding: 4px 10px;
  font-size: 20px;
  width: 130px;
  margin-top: 115px; }

#meaning {
  border: none;
  height: 122px;
  padding: 4px 10px;
  font-size: 16px;
  width: 163px;
  max-width: 163px; }

.hover .front-face:hover {
  background: #90e684; }
  .hover .front-face:hover .remove, .hover .front-face:hover .done-mark {
    opacity: 1; }
.hover .back-face:hover {
  background: #abbfff; }
.hover .remove:hover {
  background: #e04e4e;
  color: #bee755;
  box-shadow: 0px 1px 2px rgba(224, 78, 78, 0.5); }
.hover .done-mark:hover {
  background: #fdf300;
  box-shadow: 0px 1px 2px rgba(224, 78, 78, 0.5); }
.hover .remove:active, .hover .done-mark:active {
  box-shadow: none;
  margin-top: 1px; }
