<!DOCTYPE HTML>
<html>
<head>
		<meta charset="UTF-8">
		<title>Dictionary</title>
		<link rel='shortcut icon' type='image/x-icon' href='favicon.ico'/>
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
</head>
<body class="hover">
	<nav id="navigation">
		<ul id="nav-links">
			<li><a href="#">Unremembered</a></li>
			<li><a href="#/remembered">Remembered</a></li>
			<li><a href="#/all">All</a></li>
		</ul>
	</nav>

	<div id="wrapper">
		<section id="nav-search">
			<input type="text" id="word-search">
		</section>
		<section id="dictionary"></section>
		<section class="add-word word-card">
			<div class="front-face">
				<input type="text" id="name" placeholder="Insert Word">
			</div>
			<div class="back-face">
				<div class="title">Meaning</div>
				<textarea id="meaning" placeholder="Write Meaning..."></textarea>
				<input type="text" id="synonyms" placeholder="Synonyms (comma separated)">
				<input type="button" value="done" id="new-word-btn">
				<div class="back">↩</div>
			</div>
		</section>
	</div>

	<script id="wordTemplate" type="text/template">
		<div class="front-face">
			<div class="word">
				<label><%= name.slice(0,1).toUpperCase() + name.slice(1) %></label>
			</div>
			<div class="done-mark" title="mark done">✓</div>
			<div class="remove">✖</div>
		</div>
		<div class="back-face">
			<div class="title"><%= name.slice(0,1).toUpperCase() + name.slice(1) %></div>
			<div class="meaning"><%= meaning %></div>
			<div id="synonyms"><%= "synonyms: " + synonyms.toString() %></div>
		</div>
	</script>

	<script src="js/lib/jquery-2.0.0.min.js"></script>
	<script type="text/javascript" src="js/lib/underscore-min.js"></script>
	<script type="text/javascript" src="js/lib/backbone-min.js"></script>
	<script type="text/javascript" src="js/lib/backbone.localStorage.js"></script>
	<script src="js/models/word.js"></script>
	<script src="js/models/search.js"></script>
	<script src="js/collections/dictionary.js"></script>
	<script src="js/views/word.js"></script>
	<script src="js/views/search.js"></script>
	<script src="js/views/dictionary.js"></script>
	<script src="js/routers/router.js"></script>
	<script src="js/app.js"></script>
	<script type="text/javascript">
		(function() {
			var timeToLook = true;
			window.onscroll = function(e) {
				if (timeToLook) {
					timeToLook = false;
					$('body').removeClass('hover');
					setTimeout(function() {
						timeToLook = true;
						$('body').addClass('hover');
					}, 1000);
				}
			}
		})();
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-43963934-1', 'vocabtree.herokuapp.com');
	  ga('send', 'pageview');

	</script>
</body>
</html>
