.reg-box {
	width: 460px;
	margin: 175px auto 0;
	background: rgba(222, 240, 177, 0.72);
	padding: 25px;
	border-radius: 16px;
}

form {
	margin: 0;
}

.clearfix {
	overflow: auto;
}

.lfloat {
	float: left;
}

.rfloat {
	float: right;
}

.mbm {
	margin-bottom: 25px;
}

.inputtext {
	font-size: 18px;
	border: 1px solid #E3FFA6;
	padding: 6px;
}

#detail-submit {
	border: none;
	font-size: 18px;
	padding: 6px 10px;
	border-radius: 6px;
	color: #FFF;
	box-shadow: 0px 2px #435520;
	background: -webkit-linear-gradient(top, #5E7929, #8BAC4A);
	cursor: pointer;
	margin-bottom: 2px;

	&:hover {
		background: -webkit-linear-gradient(top, #A2BE6C, #BEE78B);
		color: #32631B;
	}

	&:active {
		margin: 4px 0 0;
		box-shadow: none;
	}
}

.hidden-elem {
	display: none;
}
