body {
  font-family: ubuntu;
  margin: 0; }

::selection {
  text-shadow: none;
  background: #d84848;
  color: white; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.word-card {
  width: 184px;
  height: 230px;
  position: relative;
  float: left;
  margin: 10px 25px 40px;
  text-align: center;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  -o-perspective: 1500px;
  perspective: 1500px; }
  .word-card.hide {
    display: none; }
  .word-card .front-face, .word-card .back-face {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 600ms ease-in-out;
    -moz-transition: -moz-transform 600ms ease-in-out;
    -o-transition: -o-transform 600ms ease-in-out;
    transition: transform 600ms ease-in-out; }
  .word-card .front-face {
    background: #84d379;
    box-shadow: #a4d15f 1px 1px 6px, #a4d15f -1px -1px 6px;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    z-index: 1; }
  .word-card .back-face {
    background-color: #92a1d1;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-shadow: #89aee2 1px 1px 6px, #89aee2 -1px -1px 6px;
    z-index: 0; }
  .word-card .word {
    margin-top: 96px;
    color: #e93c4a;
    font-size: 25px;
    text-shadow: 1px 1px 0px #857576; }
  .word-card .title {
    font-size: 25px;
    margin-bottom: 10px;
    color: rgba(54, 58, 71, 0.5);
    font-weight: bold; }
  .word-card .word.large, .word-card .title.large {
    font-size: 20px; }
  .word-card .word.very-large, .word-card .title.very-large {
    font-size: 16px; }
  .word-card .meaning {
    color: #244b3a; }
  .word-card .remove, .word-card .done-mark, .word-card .edit {
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 8px;
    border-radius: 15px;
    font-size: 20px;
    background: #88d87c;
    color: #81ca76;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; }
  .word-card .remove {
    right: 8px; }
  .word-card .done-mark {
    right: 45px; }
  .word-card .edit {
    right: 79px;
    background: url("../img/edit.png") center no-repeat;
    background-size: 24px !important; }

.add-word .back-face {
  cursor: auto; }
.add-word .back {
  position: absolute;
  top: 8px;
  padding: 8px 12px;
  background: #c76148;
  border-radius: 18px;
  right: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

#new-word-btn {
  padding: 8px 22px;
  font-size: 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px #646464;
  position: absolute;
  bottom: 18px;
  left: 59px; }

.word-input-wrapper {
  margin-top: 100px; }

#name {
  border: none;
  height: 26px;
  padding: 4px 20px 4px 10px;
  font-size: 18px;
  width: 130px;
  vertical-align: top; }

.loading {
  width: 20px;
  height: 34px;
  display: inline-block;
  background: url("../img/async-submit.gif") no-repeat;
  background-position: center;
  margin-left: -24px; }

#meaning {
  border: none;
  height: 70px;
  padding: 4px 10px;
  font-size: 15px;
  width: 88%;
  max-width: 163px; }

#synonyms {
  border: none;
  height: 26px;
  padding: 4px 10px;
  font-size: 18px;
  width: 162px;
  margin-top: 5px; }

.synonyms {
  padding: 4px 10px;
  font-size: 16px;
  width: 162px;
  position: absolute;
  bottom: 10px;
  color: #244B3A;
  text-align: left; }

.hover .front-face:hover {
  background: #90e684; }
  .hover .front-face:hover .remove, .hover .front-face:hover .done-mark, .hover .front-face:hover .edit {
    opacity: 1; }
.hover .back-face:hover {
  background: #abbfff; }
.hover .remove:hover {
  background: #e04e4e;
  color: #bee755;
  box-shadow: 0px 1px 2px rgba(224, 78, 78, 0.5); }
.hover .done-mark:hover {
  background: #fdf300;
  box-shadow: 0px 1px 2px rgba(224, 78, 78, 0.5); }
.hover .edit:hover {
  background: url("../img/edit-hover.png") center no-repeat; }
.hover .remove:active, .hover .done-mark:active {
  box-shadow: none;
  margin-top: 1px; }
.hover .edit:active {
  box-shadow: none;
  margin-top: 1px;
  margin-right: 1px; }

#nav-search {
  text-align: right;
  margin: 16px;
  position: absolute;
  top: 0;
  right: 0;
  background: #FFF;
  border: solid #FFF;
  border-width: 2px 5px;
  border-radius: 4px; }

#word-search {
  width: 160px;
  padding: 6px 10px 6px 36px;
  border: 1px solid #00d333;
  font-size: 18px;
  background: url("../img/search.png") no-repeat;
  background-size: 30px;
  background-position: 0px 7px; }
  #word-search:focus {
    background-position: 0 -34px;
    box-shadow: 0 0 2px #00d333;
    border-color: transparent;
    outline: none; }

#navigation {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  box-shadow: 0 1px 2px #125D75;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

#nav-links {
  list-style: none;
  padding: 25px 15px;
  margin: 0;
  background: #44BFE6;
  opacity: 0.95; }
  #nav-links li {
    cursor: pointer; }
  #nav-links a {
    text-decoration: none;
    color: white; }
  #nav-links .menu {
    position: relative;
    margin: 0 10px;
    padding: 10px;
    display: inline-block;
    color: white; }
    #nav-links .menu .submenu {
      display: none;
      background: #22A5D8;
      color: #FFF;
      font-weight: bold;
      position: absolute;
      top: 35px;
      border: 1px solid #63A0C9; }
    #nav-links .menu ul {
      padding: 0;
      margin: 6px 0; }
    #nav-links .menu:hover .submenu {
      display: block; }
    #nav-links .menu li {
      display: block;
      padding: 5px 20px; }
      #nav-links .menu li:hover {
        background: #2CBAF1; }

#dictionary {
  margin-top: 100px; }

.word-synonyms {
  color: #244B3A;
  font-size: 18px;
  position: absolute;
  bottom: 15px; }

#game-wrapper {
  height: 600px;
  background: #C8DDE4;
  padding-top: 98px; }

.loop-game {
  width: 400px;
  height: 400px;
  margin: 93px auto;
  position: relative; }
  .loop-game .word-container {
    position: absolute;
    height: 68%;
    background: #FFF;
    padding: 16%;
    width: 68%;
    border-radius: 200px;
    overflow: hidden; }
  .loop-game .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #C8DDE4;
    -webkit-transform: translateY(400px);
    -moz-transform: translateY(400px);
    -o-transform: translateY(400px);
    transform: translateY(400px);
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    border: 2px solid #B3C8CF;
    border-radius: 200px; }
  .loop-game .game-buttons {
    position: absolute;
    bottom: 20px;
    left: 34%; }
  .loop-game .game-option {
    display: inline-block;
    font-size: 26px;
    color: #FFF;
    background: #338083;
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    -webkit-transition: border-radius 0.2s linear;
    -moz-transition: border-radius 0.2s linear;
    -o-transition: border-radius 0.2s linear;
    transition: border-radius 0.2s linear;
    opacity: 0.5; }
    .loop-game .game-option:hover {
      border-radius: 21px;
      background: #43A9AD; }
    .loop-game .game-option.active {
      opacity: 1; }
  .loop-game .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.hidden {
  opacity: 0; }
